<div class="wrapper">
    <div class="loginContainer">
        <h1>Login</h1>

        {{#if error}}

        <p>{{error}}</p>

        {{/if}}

        <form method="post">
            <input type="text" name="logUsername" placeholder="Username or email" required="">
            <input type="password" name="logPassword" placeholder="Password" required="">
            <input type="submit" value="login">
        </form>
        <a href="/register">Need an account? Register here.</a>
    </div>
</div>